# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.appe

*.swo
*.swp

indoor_dynamic/
parking_lot/
cvlab1/
cvlab2/
cvlab3/
cvlab4/
cvlab5/
cam_img/
cam_video/
build/

